@font-face {
	font-family: "Ubuntu Mono";
	src: url(/fonts/UbuntuMono-Regular.ttf);
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Ubuntu Mono";
	src: url(/fonts/UbuntuMono-Bold.ttf);
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: "Ubuntu Mono";
	src: url("/fonts/UbuntuMono-Italic");
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: "Ubuntu Mono";
	src: url("/fonts/UbuntuMono-BoldItalic.ttf");
	font-weight: bold;
	font-style: italic;
}
body {
	background-color: #000000;
	color: #CCCCCC;
	max-width: 60%;
	margin: auto;
	margin-top: 5%;
	margin-bottom: 5%;
	text-align: justify;
	font-family: Ubuntu Mono;
}
h1 {
	text-align: center;
}
h1, h2 {
	color: #008000;
}
a {
	text-decoration: none;
	color: #00509F;
}
dt {
	float: left;
	width: 50%;
	font-weight: bold;
}
canvas {
	display: block;
	width: 100%;
	margin: auto;
	border: solid #008000;
}
